<div class="col-xs-12">
    <ul class="list-group">
        <li ng-repeat="item in streamerItems" class="list-group-item text-center clearfix">
            <span style="font-weight: bold">{{item.itemName | uppercase}}</span>
<!--            <a href="#/addItem/edit/{{item.id}}" class="btn btn-sm btn-default pull-right">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
-->
        </li>
    </ul>
</div>
<div class="col-xs-12">
    <div>
        <span  class="text-center">
            <img src="../imgs/easyApp.BR.png" style="display: inline-block"/>
            <<h1>easyTwitch - Twitch TV Streamers </h1>

        </span>
    </div>
    <div ng-repeat="item in streamerItems" class="list-group-item text-center clearfix">
        <span style="font-weight: bold">{{item.itemName | uppercase}}</span>
        <!--            <a href="#/addItem/edit/{{item.id}}" class="btn btn-sm btn-default pull-right">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
        -->
    </div>
</div>
