
<div class="col-xs-12 nopad">
    <div ng-repeat="item in streamerItems" class="list-group-item text-center clearfix channel">
        <div class="col-xs-2 channellogo">
            <img ng-src="{{item.logo}}" width="60px" class="img-circle" />
        </div>
        <div class="col-xs-10 channelinfo">
            <button class="btn btn-block channelinfo-header" data="{{item.name}}" ng-click="openChannel(item.name)">{{item.display_name}}</button>
            <p class="channelinfo-body">{{item.description}}</p>
            <p class="channelinfo-body">
                <br/>
                <span>Status: {{item.status}}</span>
                </p>
            <p class="channelinfo-footer">
                    <span>Followers: {{item.followers}}</span>
                    <span style="float: right; padding-right: 10px">Views: {{item.views}}</span>
                </p>
        </div>
    </div>
</div>

